body {
  background-color: #081426 !important;
  color: #b0cdf1 !important;
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none !important;
}

.body {
  margin: 8rem;
}

.b1 {
  border: 1px solid #60ffd9;
  color: #60ffd9;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 15px;
  border-radius: 10%;
  text-decoration: none;
}

ul > li {
  color: #b0cded;
}

.list {
  list-style: none;
}

.item {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px solid #41629b;
  padding-top: 5px;
  padding-bottom: 5px;
}
.item-kubilabs {
  border-left: 2px solid #009076;
}

.item-color {
  border-left: 2px solid #009076 !important;
}

.item-default {
  border-left: 2px solid #41629b !important;
}

.experence::after {
  top: -15px;
  width: 400px;
  height: 1px;
  margin-left: 190px;
  background-color: #233554;
  display: block;
  position: relative;
  content: '';
}

.proyectos::after {
  top: -15px;
  width: 400px;
  height: 1px;
  margin-left: 350px;
  background-color: #233554;
  display: block;
  position: relative;
  content: '';
}

.contacto::after {
  top: -15px;
  width: 400px;
  height: 1px;
  margin-left: 150px;
  background-color: #233554;
  display: block;
  position: relative;
  content: '';
}

.image-background {
  opacity: 0.5;
  transition: opacity 0.5s ease; /* Agrega la transición de color al borde */
}


.image-background:hover {
  opacity: 1;
}

div.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 70%;
  width: 50%;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 6%;
  background-size: 100% auto;
}


  /* Para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  .body {
    width: 100% !important;
    margin: 0 !important;
  }
  #container-bio-info {
    width: 82% !important;
  }
  .btn-resumen {
    display: none !important;
  }
  #images-languages {
    margin-bottom: 10px !important;
  }

  .remove-flex {
    flex: 0 0 100% !important;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .list {
    padding-left: 0px !important;
  }

  #container-experence {
    width: 80% !important;
  }

  .experence::after {
    width: auto !important;
  }

  #container-works {
    width: 80% !important;
  }

  .proyectos::after {
    display: none !important;
  }

  .tittle-works {
    margin-top: 10px;
    text-align: center !important;
  }

  .banner-works {
    width: 100% !important;
    left: 0 !important;
  }

  .description-works {
    text-align: center !important;
  }

  .languajes-works {
    text-align: center !important;
  }

  .urls-works{
    justify-content: center !important;
  }

  #container-contact {
    width: 80% !important;
  }
}

/* Para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
}

/* Para pantallas grandes */
@media only screen and (min-width: 1024px) {
  
}